<div class="picker">
  <ion-img
    *ngIf="selectedImage && showPreview"
    role="button"
    class="image"
    [src]="selectedImage"
    (click)="onPickImage()"
  ></ion-img>
  <ion-button
    color="primary"
    *ngIf="!selectedImage || !showPreview"
    (click)="onPickImage()"
  >
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Take picture</ion-label>
  </ion-button>
</div>
<input
  type="file"
  accept="image/jpeg"
  *ngIf="usePicker"
  #filePicker
  (change)="onFileChosen($event)"
/>
